<section class="all-product pb-120">

    <div class="container">
        <!--  -->
        <div class="row justify-content-center gy-4 mb-5">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img11.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="details.html" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img12.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img13.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img14.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img15.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img16.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img11.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img12.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="product-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/product/img13.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script">Laravel Script</h6>
                        </div>
                        <a href="#">
                            <h6 class="title">RentOut - Multivendor Property Ho...</h6>
                        </a>
                        <p class="short-des">Our team of professional graphic designers will help you tell your stories
                        </p>
                    </div>
                    <div class="card-btm">
                        <div class="price-wrap">
                            <h6 class="price">$29.00</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn--base outline">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  -->

        <!-- pagination -->
        <div class="row">
            <div class="col-lg-12 justify-content-center d-flex">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                            </a>
                        </li>
                        <li class="page-item "><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- pagination -->



    </div>


</section>