<!-- ==================== Breadcumb Start Here ==================== -->
<div class="breadcumb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb-2__wrapper">
                    <ul class="breadcumb-2__lists">
                        <li class="breadcumb-2__item"><a href="index.html" class="breadcumb-2__link">Home</a></li>
                        <li class="breadcumb-2__icon"> <i class="fa-solid fa-slash"></i> </li>
                        <li class="breadcumb-2__item"> <span class="breadcumb-2__item-text"> @@breadcumbText </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Breadcumb End Here ==================== -->