<!-- < add to cart components -->

<div class="cart-box animate__backInRight">
    <button class="close--btn"><i class="fa-solid fa-xmark"></i></button>
    <div class="form--check mb-20">
        <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        <label class="form-check-label" for="chekbox-0">
            SELECT ALL (04 ITEMS)
        </label>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img1.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img2.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img3.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img4.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img3.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img2.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img1.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img2.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img3.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img4.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img2.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img1.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="cart-item-card">
        <div class="form--check mb-20">
            <input class="form-check-input filter-by-category" name="categories" type="checkbox" value="1" id="categories">
        </div>
        <div class="thumb">
            <img src="assets/images/hero-product/img1.png" alt="...">
        </div>
        <div class="content">
            <a href="#"><h6 class="title">Deep Black Gulxckic Sueam Key GLOBAL</h6></a>
            <a href="#"><p class="price">$48.31</p></a>
        </div>
        <div class="user-cta">
            <button class="fav-btn"><i class="fa-regular fa-heart"></i></button>
            <button class="trash-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>

    <button class="btn btn--base w-100"> Proceed To Checkout (1)</button>
</div>


<!-- add to cart components /> -->