<section class="cookie-section py-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="coockie-wrap">
                    <h6>Welcome to Prompt Privacy Policy</h6>
                    <p class="mb-4">Meticulous selection process ensures each hotel meets stringent quality standards. Whether you’re visiting for business or leisure, trust us to provide you with a stay that combines the utmost security and exceptional service.It waspopularised in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis</p>
                    <p class="mb-4"> nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus</p>
    
                    <h6>Data controller</h6>
                    <p>nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus</p>
                    <div class="ul-wrap">
                        <ul>
                            <li>Usage Information</li>
                            <li>Usage Information</li>
                            <li>Usage Information</li>
                        </ul>
                    </div>
                    <h6>Data Security</h6>
                    <p class="mb-4">Elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis </p>
                    <p class="mb-3"><span>1 Usage : </span> Info commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                    <p class="mb-3"><span>2 Security : </span>  In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus</p>
                    <p class="mb-3"><span>3 Purposes : </span> Tree planting is the act of planting young trees, shrubs, or other woody plants into the ground to establish new forests or enhance existing ones. It is a crucial component of environmental</p>
                    <p class="mb-3"><span>4 Information : </span> commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                    <h6>Terms and Conditions</h6>
                    <p class="mb-3">Meticulous selection process ensures each hotel meets stringent quality standards. Whether you’re visiting for business or leisure, trust us to provide you with a stay that combines the utmost security and exceptional service.It waspopularised in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis </p>
                    <p class="mb-4">nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus</p>
                    <h6>Data update</h6>
                    <p class="mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <p class="mb-3"><span>1 Commodo : </span> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                    <p class="mb-3"><span>2 In enim : </span> justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus</p>
                    <p class="mb-3"><span>3 Tree : </span> planting is the act of planting young trees, shrubs, or other woody plants into the ground to establish new forests or enhance existing ones. It is a crucial component of environmental</p>
                    <p class="mb-3"><span>4 Commodo : </span> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                </div>
            </div>
            <div class="col-lg-3">
                 <!-- search box -->
                    <div class="cookie-box">
                        <div class="item-wrap border-bottom">
                           <ul>
                            <li>Introduction</li>
                            <li>Information We Process</li>
                            <li>Cookies Policy</li>
                            <li>Refund Policy</li>
                            <li>User Responsibilities</li>
                           </ul>
                        </div>
                        <div class="question-box">
                            <span><i class="fa-regular fa-comments"></i></span>
                            <p class="support-text">Have any Question ?
                                Call Us :</p>
                            <h6 class="support-number">(+880) 1723801729</h6>
                            <a class="btn btn--base">Contact Us</a>
                        </div>
                    </div>
                <!-- search box -->
            </div>
        </div>
    </div>
</section>