<!-- < process-section -->
<section class="counter-section py-60 bg--img" style="background-image: url(assets/images/common/counter-bg.png);">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="process-card" >
            <div class="count-number-wraper">
                <span class="odometer" data-count="28"></span>
                <h6>M</h6>
            </div>
            <p class="subtitle2">It seems like you mentioned Could you please</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="process-card" >
                <div class="count-number-wraper">
                    <span class="odometer" data-count="89"></span>
                    <h6>K</h6>
                </div>
                <p class="subtitle2">It seems like you mentioned Could you please</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="process-card" >
                <div class="count-number-wraper">
                    <span class="odometer" data-count="53"></span>
                    <h6>M</h6>
                </div>
                <p class="subtitle2">It seems like you mentioned Could you please</p>
            </div>
          </div>
      </div>
    </div>
</section>
<!--  process-section /> -->