<!--========================== Header section Start ==========================-->

<div class="header-main-area">
  <div class="header" id="header">
    <div class="container position-relative">
      <div class="row">
          <div class="header-wrapper">
            <!-- ham menu -->
            <i class="fa-sharp fa-solid fa-bars-staggered ham__menu" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>

            <!-- logo -->
            <div class="header-menu-wrapper align-items-center d-flex">
              <div class="logo-wrapper">
                <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png" alt="...">
                </a>
              </div>
            </div>
            <!-- / logo -->
            <!-- < search box -->
              <div class="search-box-wrap">
                <form>
                  <input class="form--control header-input" placeholder="What are you looking for?">
                  <select class="form--control form-select header-select" name="country">
                    <option value="" data-code="">
                      All Category
                    </option>
                    <option value="Afghanistan" data-code="AF">
                      Pc Game
                    </option>
                    <option value="Afghanistan" data-code="AF">
                      Console Game
                    </option>
                  </select>
                  <button class="btn--base header-sub-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
            <!-- search box /> -->
              <div class="menu-right-wrapper">
                <ul>
                  <li class="language">
                    <div class="language-box">
                        <i class="fa-solid fa-globe"></i>
                        <select class="select">
                            <option selected="">English</option>
                            <option value="1">Bangla</option>
                            <option value="2">French</option>
                            <option value="3">Spenich</option>
                        </select>
                    </div>
                  </li>
                  <li class="login-registration-list__item">
                    <a href="login.html"> <i class="fa-solid fa-user"></i> Sign in</a>
                  </li>
                  <li class="login-registration-list__item">
                    <a href="#" class="login-btn cart-btn"><i class="las la-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      
      <div class="row">
        <div class="header-wrapper-2">
          <!-- ham menu -->
          <i class="fa-sharp fa-solid fa-bars-staggered ham__menu" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          </i>

          <div class="menu-wrapper">
            <ul class="main-menu">
              <li><a class='active' href="index.html">Home</a></li>
              <li><a href="dashboard.html">My Order</a></li>
              <li><a href="deposit.html">Wallet</a></li>
              <li><a href="transactions.html">Transaction</a></li>
            </ul>
          </div>
          
          <div class="menu-right-wrapper">
            <ul>
              <li>
                <a href="wislist.html"><i class="fa-regular fa-heart"></i> Wishlist</a>
              </li>
              <li class="profile-option">
                <a href="#"><i class="fa-regular fa-user"></i> Profile</a>
                <div class="profile-dropdown-menu">
                  <ul>
                    <li><a href="user-profile.html">Profile Settings</a></li>
                    <li><a href="change-password.html">Change Password</a></li>
                    <li><a href="two-fa-security.html">2Fa Security</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========================== Header section End ==========================-->

<!--========================== Sidebar mobile menu wrap Start ==========================-->
<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasExample">
  <div class="offcanvas-header">
    <div class="logo">
      <div class="header-menu-wrapper align-items-center d-flex">
        <div class="logo-wrapper">
          <a href="index.html" class="normal-logo" id="offcanvas-logo-normal"> 
            <img src="assets/images/logo/logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="user-info">
      <div class="user-thumb">
        <a href="userDashboard.html">
          <img src="assets/images/user/user3.png" alt="user-thumb">
        </a>
      </div>
      <a href="userDashboard.html">
        <h4>Anonymous Alex</h4>
      </a>
    </div>
    <ul class="side-Nav">
      <li>
        <a class="active" href="index.html">
          Home
        </a>
      </li>
      <li>
        <a href="about.html">
          About
        </a>
      </li>
      <li>
        <a href="blog.html">
          Blog
        </a>
      </li>
      <li>
        <a href="contact.html">
          Contact
        </a>
      </li>
      <li>
        <a href="login.html">
          Login
        </a>
      </li>
      <li>
       <button class="login-btn">Signup</button>
      </li>
    </ul>
  </div>
</div>







<!--========================== Sidebar mobile menu wrap End ==========================-->