<!-- < faq-section 2 -->
<section class="faq-section-2 section-bg py-60">
  <div class="container">
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="row">
      <div class="row justify-content-center gy-4">
        <div class="col-lg-6">
            <div class="section-content">
                <div class="title-wrap">
                    <div class="left-bar">
                        <span class="bar-1"></span>
                        <span class="bar-2"></span>
                    </div>
                    <h2 class="title mb-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Question &  Answers</h2>
                    <div class="right-bar">
                        <span class="bar-1"></span>
                        <span class="bar-2"></span>
                    </div>
                </div>
                <p class="subtitle wow animate__animated animate__fadeInUp text-center"  data-wow-delay="0.3s">Lorem Ipsum is simply dummy text of the printi typesettingi Lorem Ipsum has been the industry's standard</p>
            </div>
        </div>
      </div>
    </div>
    
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6">
        <div class="faq-card1 border-bottom">
          <div class="number">
            <h6>01</h6>
          </div>
          <div class="content-wrap">
            <h4>What is your refund policy?</h4>
            <p>The passage experienced a surge in popularity during 
              the serts when Letraset used it on their dry-transfer 
               again during the desktop publishers </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-card2 border-left border-bottom">
          <div class="number">
            <h6>02</h6>
          </div>
          <div class="content-wrap">
            <h4>What is your refund policy?</h4>
            <p>The passage experienced a surge in popularity during 
              the serts when Letraset used it on their dry-transfer 
               again during the desktop publishers </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-card1 pt-60">
          <div class="number">
            <h6>03</h6>
          </div>
          <div class="content-wrap">
            <h4>What is your refund policy?</h4>
            <p>The passage experienced a surge in popularity during 
              the serts when Letraset used it on their dry-transfer 
               again during the desktop publishers </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-card2 border-left pt-60">
          <div class="number">
            <h6>04</h6>
          </div>
          <div class="content-wrap">
            <h4>What is your refund policy?</h4>
            <p>The passage experienced a surge in popularity during 
              the serts when Letraset used it on their dry-transfer 
               again during the desktop publishers </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  faq-section 2 /> -->