<!-- < faq-section -->
<section class="faq-section pt-120">
  <div class="container">


      <div class="row">
        <div class="col-lg-12">
          <div class="section-content">
            <div class="title-wrap">
              <div class="row">
                <div class="col-lg-4">
                  <h1 class="title mb-3 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">How Can We Help You?</h1>
                  <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Discouraged and irrelevant life attitudes. You're upgrading
                    to be a better you.peek into.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-lg-6 d-flex align-items-center">
       
          <div class="accordion custom--accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="accordion-header">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                 
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">PPC (Pay-Per-Click) and CPM (Cost-Per-Mille) are two popular online
                  advertising models.
                  PPC involves advertisers paying for each click their ad receives,
                  while CPM requires advertisers to pay for every 1,000 ad impressions.
                </div>
              </div>
            </div>
            <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.3s"
              style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In PPC advertising, advertisers bid on keywords relevant to their target
                  audience. When users search for those keywords, the ad is displayed. Advertisers only pay when someone
                  clicks on their ad, directing them to their website or landing page.</div>
              </div>
            </div>
            <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
              style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                  Are exchange rates the same everywhere?
                </button>
              </div>
              <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">PPC offers instant visibility for your business, targeted reach, and
                  complete control over your budget. It allows you to measure the effectiveness of your ads in real-time
                  and make data-driven optimizations.</div>
              </div>
            </div>
            <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.5s"
              style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">CPM advertising charges advertisers for every 1,000 impressions their ad
                  receives, regardless of whether users click on it or not. It is particularly useful for brand
                  awareness campaigns and reaching a broad audience.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="faq-right">
            <span class="faq-bg"> </span>

            <div class="thumb-wrap">
              <img src="assets/images/common/faq-bg.png" alt="...">
            </div>

            <div class="blob">

              <svg  viewBox="0 0 600 600">
                <path>
                  <animate attributeName="d" dur="8s" repeatCount="indefinite"
                    values="M431.3 121.9c22 40.1 11.3 97.5 13.3 146.9 2 49.5 16.6 91.1 4.3 121.8-12.2 30.6-51.3 50.4-88.5 55.1-37.1 4.7-72.4-5.7-108.8-17.1-36.5-11.3-74.1-23.7-104-52-29.9-28.2-52-72.4-48.4-115.4 3.5-43 32.7-84.8 70.5-122.2 37.7-37.3 84-70.2 134.5-75.1 50.4-5 105.1 17.9 127.1 58z;
                    
                            M404.4 176.7c20.9 16.4 20.8 58.8 38.8 106.2 18.1 47.4 54.4 99.7 40.9 123.6-13.5 23.9-76.7 19.3-131.6 40.4-54.8 21-101.2 67.7-150.5 71.7-49.4 4.1-101.7-34.5-107.8-81.9C88 389.2 128 333 144.2 278c16.2-55.1 8.5-108.8 30.5-125 22-16.1 73.7 5.5 120.4 11.3 46.7 5.9 88.5-3.9 109.3 12.4z;
                            
                            M431.3 121.9c22 40.1 11.3 97.5 13.3 146.9 2 49.5 16.6 91.1 4.3 121.8-12.2 30.6-51.3 50.4-88.5 55.1-37.1 4.7-72.4-5.7-108.8-17.1-36.5-11.3-74.1-23.7-104-52-29.9-28.2-52-72.4-48.4-115.4 3.5-43 32.7-84.8 70.5-122.2 37.7-37.3 84-70.2 134.5-75.1 50.4-5 105.1 17.9 127.1 58z;" />
                </path>
              </svg>
          
            </div>

            <div class="block">
              <span class="element-1 left_image_bounce-1"></span>
              <span class="element-2 left_image_bounce"></span>
            </div>

            <div class="main-thumb">
              <img src="assets/images/common/faq-img.png" alt="...">
            </div>

          </div>
        </div>

      </div>
 

  </div>
</section>
<!--  faq-section /> -->