<!-- < faq-section -->
<section class="faq-section py-120">

  <div class="lines">
    <div></div>
    <div class="line"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="container">


    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-content-4">
          <h6 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Frequently Ask Questions</h6>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">

        <div class="accordion custom--accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="accordion-header">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">

                Custom software development services ?
              </button>
            </div>
            <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Yes, we offer custom software development services tailored to the specific
                needs of our clients. We work closely with our clients to understand their requirements and develop
                solutions that meet their unique needs.
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">

                How long does it take to develop software?
              </button>
            </div>
            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">In PPC advertising, advertisers bid on keywords relevant to their target
                audience. When users search for those keywords, the ad is displayed. Advertisers only pay when someone
                clicks on their ad, directing them to their website or landing page.</div>
            </div>
          </div>
          <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                How much does it cost to develop software?
              </button>
            </div>
            <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">PPC offers instant visibility for your business, targeted reach, and
                complete control over your budget. It allows you to measure the effectiveness of your ads in real-time
                and make data-driven optimizations.</div>
            </div>
          </div>
          <div class="accordion-item wow animate__ animate__fadeInUp animated" data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                What kind of industries do you work with?
              </button>
            </div>
            <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">CPM advertising charges advertisers for every 1,000 impressions their ad
                receives, regardless of whether users click on it or not. It is particularly useful for brand
                awareness campaigns and reaching a broad audience.</div>
            </div>
          </div>
        </div>
      </div>



    </div>


  </div>
</section>
<!--  faq-section /> -->