<!-- < Hero Section -->
<section class="getintouch-section py-100">
    <div class="container">
        <div class="row gy-4">
         <div class="col-lg-6 d-flex align-items-center">
            <div class="about-left-content">
                <div class="about-thumb1">
                    <img src="assets/images/common/get-in.png" alt="...">
                </div>
            </div>
         </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="section-content-3">
                            <h6 class="title">Get in touch With Us</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="getin-touch-card wow animate__fadeInUp animate__animated" data-wow-delay="0.1s">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="key-card-content">
                                <h6 class="key-card-title">Phone Number</h6>
                                <a href="tel:9876897689698">(589) 8789 4 514(589)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="getin-touch-card wow animate__fadeInUp animate__animated" data-wow-delay="0.2s">
                            <i class="fa-regular fa-envelope"></i>
                            <div class="key-card-content">
                                <h6 class="key-card-title">Email Address</h6>
                                <a href="mailtodemotext123@gmail.com">demotext123@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="getin-touch-card wow animate__fadeInUp animate__animated" data-wow-delay="0.3s">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="key-card-content">
                                <h6 class="key-card-title">Our Location</h6>
                                <p class="key-card-subtitle">1012 Pebda Parkway, Mirpur 2Dhaka, Bangladesh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="getin-touch-card wow animate__fadeInUp animate__animated" data-wow-delay="0.4s">
                            <i class="fa-solid fa-headset"></i>
                            <div class="key-card-content">
                                <h6 class="key-card-title">Live Support</h6>
                                <p class="key-card-subtitle"><a class="live-support" href="mailtodemotext123@gmail.com">demotext123@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Hero Section />-->