<!-- < faq-section -->
<section class="gift-section py-80">
  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <h6 class="fw-bold mb-4">Xbox 360 Games Gift Card</h6>
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img1.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
                </div>
                <a href="details.html" class="price-wrap">
                  <p class="price">$22.31</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img2.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
                <span class="dis-price">$66.22</span>
                <span class="dis-tag">-30%</span>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img3.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
              </a>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="col-lg-4">
        <h6 class="fw-bold mb-4">Xbox 360 Games Gift Card</h6>
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img4.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img5.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img6.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
                <span class="dis-price">$66.22</span>
                <span class="dis-tag">-30%</span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h6 class="fw-bold mb-4">Xbox 360 Games Gift Card</h6>
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img7.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
                <span class="dis-price">$66.22</span>
                <span class="dis-tag">-30%</span>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img8.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="gift-card">
              <div class="thumb">
                <img src="assets/images/gift/img9.png" alt="...">
              </div>
              <div class="content">
                <a href="details.html"><h6 class="title">The Grinch: Christmas Adventures PRE-ORDER AR BOX One / Ubox Series X|S CD Key</h6></a>
                <div class="rating-wrap">
                  <ul>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                      <li> <i class="fa-solid fa-star"></i></li>
                  </ul>
                  <p>(254)</p>
              </div>
              <a href="details.html" class="price-wrap">
                <p class="price">$22.31</p>
                <span class="dis-price">$66.22</span>
                <span class="dis-tag">-30%</span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  faq-section /> -->