<!--========================== Header section Start ==========================-->

<div class="header-main-area">
  <div class="header" id="header">
    <div class="container position-relative">
      <div class="row">
        <div class="header-wrapper">
          <!-- ham menu -->
          <i class="fa-sharp fa-solid fa-bars-staggered ham__menu" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>

          <!-- logo -->
          <div class="header-menu-wrapper align-items-center d-flex">
            <div class="logo-wrapper">
              <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png"
                  alt="...">
              </a>
            </div>
          </div>
          <!-- / logo -->


          <div class="menu-right-wrapper">
            <div class="menu-wrapper">
              <ul class="main-menu">
                <li><a class='link' href="index.html">Home</a></li>
                <li><a class='link' href="about.html">About</a></li>
                <li class="product">
                  <a class='link' href="products.html">Products <i class="fa-solid fa-sort-down"></i></a>
                  <!-- mega menu -->
                  <div class="mega-menu">
                    <div class="row gy-3 gx-3">
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img1.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img2.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img3.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img4.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img5.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-6">
                        <a href="#">
                          <div class="recent-product">
                            <div class="thumb-wrap">
                              <img src="assets/images/product/img6.png" alt="...">
                            </div>
                            <div class="content-wrap">
                              <div class="tech-name-wrap">
                                <i class="fa-brands fa-laravel"></i>
                                <p class="tech-name">Laravel Scripts</p>
                              </div>
                              <h1 class="name">PennySave</h1>
                              <p class="short-discription">Coupon/Deals Platform</p>
                              <h6 class="price">$59</h6>
                            </div>
                          </div>
                        </a>
                      </div>


                    </div>
                  </div>
                  <!-- mega menu -->
                </li>
                <li class="service">
                  <a class='link' href="services.html">Services <i class="fa-solid fa-sort-down"></i></a>
                  <div class="mega-menu1">
                    <div class="row gy-3 gx-3">
                      <div class="col-lg-6">
                        <div class="service-card yellow">

                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="hosting"><a class='link' href="hosting.html">Hosting <i
                      class="fa-solid fa-sort-down"></i></a>
                  <div class="mega-menu2">

                  </div>
                </li>

                <li><a class="link" href="contact.html">Contact</a></li>

              </ul>
            </div>

          </div>

          <ul class="login d-flex align-items-center gap-3">
            <li class="login-registration-list__item">
              <button> <i class="fa-solid fa-magnifying-glass"></i></button>
            </li>
            <li class="login-registration-list__item">
              <button><i class="fa-solid fa-bars"></i></button>
            </li>


            <li class="login-registration-list__item">
              <a href="login.html"> Sign Up <i class="fa-solid fa-chevron-right"></i></a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>
<!--========================== Header section End ==========================-->

<!--========================== Sidebar mobile menu wrap Start ==========================-->
<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasExample">
  <div class="offcanvas-header">
    <div class="logo">
      <div class="header-menu-wrapper align-items-center d-flex">
        <div class="logo-wrapper">
          <a href="index.html" class="normal-logo" id="offcanvas-logo-normal">
            <img src="assets/images/logo/logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="user-info">
      <div class="user-thumb">
        <a href="userDashboard.html">
          <img src="assets/images/user/user3.png" alt="user-thumb">
        </a>
      </div>
      <a href="userDashboard.html">
        <h4>Anonymous Alex</h4>
      </a>
    </div>
    <ul class="side-Nav">
      <li>
        <a class="active" href="index.html">
          Home
        </a>
      </li>
      <li>
        <a href="browse.html">
          Browse
        </a>
      </li>
      <li>
        <a href="blog.html">
          Blog
        </a>
      </li>
      <li>
        <a href="contact.html">
          Contact
        </a>
      </li>
      <li>
        <a href="login.html">
          Login
        </a>
      </li>
      <li>
        <a href="login.html" class="login-btn">Signup</a>
      </li>
    </ul>
  </div>
</div>







<!--========================== Sidebar mobile menu wrap End ==========================-->