<!-- < Hero Section -->
<section class="hero bg--img" style="background-image: url(assets/images/hero/hero-bg.png);">

    <span class="hero-element-1">
       

    </span>
    <span class="hero-element-2">
        
    </span>
    <span class="hero-element-3">
       
    </span>
    <span class="hero-element-4">
      
    </span>
    
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="hero-left-content">
                    <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Find The Best
                        Online Course for Skills</h1>
                    <p class="hero-subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Aihus has
                        been credited with disrupting the traditional hospitality
                        industry by offering a affordable </p>
                    <div class="top-users">
                        <ul class="thumb-wrap">
                            <li class="user-thumb thumb1">
                                <img src="assets/images/hero/user1.png" alt="...">
                            </li>
                            <li class="user-thumb thumb2">
                                <img src="assets/images/hero/user2.png" alt="...">
                            </li>
                            <li  class="user-thumb thumb3">
                                <img src="assets/images/hero/user3.png" alt="...">
                            </li>
                            <li class="user-thumb thumb4">
                                <img src="assets/images/hero/user1.png" alt="...">
                            </li>
                        </ul>
                        <div class="total-user">
                            <h6 class="odometer odometer-auto-theme title" data-count="18"></h6>
                            <span class="title">k+</span>
                            <p class="sub-title">Individual User</p>
                        </div>
                    </div>
                    <div class="hero-grp-btn">
                        <a href="#" class="btn hero-btn1">Get Starlet Now</a>
                        <a href="#" class="btn hero-btn2">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-right-content">
                    <img src="assets/images/hero/img1.png" alt="...">
                </div>
            </div>
        </div>
        
    </div>
</section>
<!--  Hero Section />-->