<!-- < Hero Section -->
<section class="hero bg--img" style="background-image: url(assets/images/hero/hero-bg.png);">

    <div class="hero-element-1  animation-img" data-value="10">
        <img   src="assets/images/hero/img2.png" alt="...">
    </div>
    <div class="hero-element-2 top_image_bounce_2">
        <img src="assets/images/hero/img3.png" alt="...">
    </div>
    <div class="hero-element-3 animation-img" data-value="-5">
        <img src="assets/images/hero/img4.png" alt="...">
    </div>
    <div class="hero-element-4 left_image_bounce">
        <img src="assets/images/hero/img5.png" alt="...">
    </div>
    <div class="hero-element-5 top_image_bounce">
        <img src="assets/images/hero/img6.png" alt="...">
    </div>
    <div class="hero-element-6 left_image_bounce">
        <img src="assets/images/hero/img7.png" alt="...">
    </div>

    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="hero-left-content">
                    <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">
                        <span class="tesxt1">Simple</span>
                        <a href="solutions.html"><span class="tesxt2">Solutions <i class="fa-solid fa-arrow-right"></i></span></a>
                        <span class="tesxt3">Great</span>
                        <span class="tesxt4">Impact</span>
                    </h1>

                    <div class="hero-grp-btn wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                        <a href="#" class="btn btn--base hero-btn1">Get Started</a>
                        <div class="video-btn-wrap">
                            <div class="popup-video-wrap">
                                <div class="promo-video">
                                    <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div>
                                </div>
                                <a class="play-video popup_video" data-fancybox=""
                                    href="https://www.youtube.com/watch?v=s7DbVTkaXn0" tabindex="0">
                                    <i class="fa fa-play"></i>
                                </a>
                              
                            </div>
                            <a  class="video-btn popup_video" data-fancybox="" href="https://www.youtube.com/watch?v=s7DbVTkaXn0" tabindex="0">Discover More</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-right-content">
                    <img src="assets/images/hero/img1.png" alt="...">
                </div>
            </div>
        </div>

    </div>
</section>
<!--  Hero Section />-->