<!-- < Hero Section -->
<section class="hero bg--img" style="background-image: url(assets/images/hero/hero-bg.png);">

    <span class="hero-element-1">
       

    </span>
    <span class="hero-element-2">
        
    </span>
    <span class="hero-element-3">
       
    </span>
    <span class="hero-element-4">
      
    </span>
    
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="hero-left-content">
                    <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <span class="tesxt1">Simple</span>
                        <span class="tesxt2">Solutions <i class="fa-solid fa-arrow-right"></i></span>
                        <span class="tesxt3">Great</span>
                        <span class="tesxt4">Impact</span>
                    </h1>
                    
                    <div class="hero-grp-btn">
                        <a href="#" class="btn hero-btn1">Get Starlet Now</a>
                        <a href="#" class="btn hero-btn2">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-right-content">
                    <img src="assets/images/hero/img1.png" alt="...">
                </div>
            </div>
        </div>
        
    </div>
</section>
<!--  Hero Section />-->