<div class="recent-item mt-5">
    <div class="container-fluid">
        <div class="row justify-content-center gy-4">
            <h6 class="section-title">Today’s Hot Deals</h6>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img10.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 Bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img9.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 Bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img8.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 Bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img6.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 Bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="xxxl col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="base-card">
                    <div class="thumb product-slider">
                        <img src="assets/images/product/img12.png" alt="...">
                        <img src="assets/images/product/img11.png" alt="...">
                        <img src="assets/images/product/img7.png" alt="...">
                        <img src="assets/images/product/img6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <a href="#"><h6 class="title">Hideaway Docklands, India </h6></a>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Embong malang, Surabaya</p>
                    </div>
                    <ul class="item-list">
                        <li class="item-list-item">
                            <i class="fa-solid fa-bed"></i>
                            <p>2 Bed</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-bath"></i>
                            <p>3 Bath</p>
                        </li>
                        <li class="item-list-item">
                            <i class="fa-solid fa-wifi"></i>
                            <p>Wifi</p>
                        </li>
                    </ul>
                    <div class="card-btm-item">
                        <a href="#"><h6 class="price">$250.00 <span>/night</span></h6></a>
                        <a href="#" class="card-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>