<div class="how-work pt-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="thumb-wrap">
                    <img src="assets/images/common/how-work.png" alt="...">
                    <div class="popup-video-wrap">
                        <div class="promo-video">
                            <div class="waves-block">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                        <a class="play-video popup_video" data-fancybox="" href="https://www.youtube.com/watch?v=s7DbVTkaXn0" tabindex="0">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-content">
                            <div class="title-wrap">
                              <div class="row justify-content-between">
                                <div class="col-lg-6">
                                  <h1 class="title mb-3 wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">How It Works?</h1>
                                  <p class="subtitle wow animate__ animate__fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Discouraged and irrelevant life attitudes. You're
                                    you. sneek peek into what has in store.</p>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="how-work-box">
                            <div class="number">
                                <h6 class="title">01</h6>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Search for your course</h6>
                                <p class="sub-title">Discouraged and irrelevant life Youyou. sneek peek</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="how-work-box">
                            <div class="number">
                                <h6 class="title">02</h6>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Search for your course</h6>
                                <p class="sub-title">Discouraged and irrelevant life Youyou. sneek peek</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="how-work-box">
                            <div class="number">
                                <h6 class="title">03</h6>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Search for your course</h6>
                                <p class="sub-title">Discouraged and irrelevant life Youyou. sneek peek</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="how-work-box">
                            <div class="number">
                                <h6 class="title">04</h6>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Search for your course</h6>
                                <p class="sub-title">Discouraged and irrelevant life Youyou. sneek peek</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>