<div class="how-work py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="section-content-4">
                    <h6 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">How We Work</h6>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-3">
                <div class="how-work-box">
                    <p class="step">Step 01</p>
                    <span class="line-bar"></span>
                    <div class="content-wrap">
                        <h6 class="title">Audience</h6>
                        <p class="sub-title">Our team of professional graphic designers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work-box">
                    <p class="step">Step 02</p>
                    <span class="line-bar"></span>
                    <div class="content-wrap">
                        <h6 class="title">Plan & Sketch</h6>
                        <p class="sub-title">Our team of professional graphic designers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work-box">
                    <p class="step">Step 03</p>
                    <span class="line-bar"></span>
                    <div class="content-wrap">
                        <h6 class="title">Customize</h6>
                        <p class="sub-title">Our team of professional graphic designers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work-box">
                    <p class="step">Step 04</p>
                    <span class="line-bar"></span>
                    <div class="content-wrap">
                        <h6 class="title">User Testing</h6>
                        <p class="sub-title">Our team of professional graphic designers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>