<section class="login-section">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-xl-7 col-lg-6 px-0 d-none d-lg-block">
                <div class="login-left-section bg--img">

                    <span class="login-element1 login-bg-img">
                        <img src="assets/images/common/login1.png" alt="...">
                    </span>
                    <!-- <span class="login-element2">
                        <img src="assets/images/common/login2.png" alt="...">
                    </span> -->
                    <!-- <span class="login-element3">
                        <img src="assets/images/common/login3.png" alt="...">
                    </span> -->
                    <!-- <span class="login-element4">
                        <img src="assets/images/common/login4.png" alt="...">
                    </span> -->
                    <!-- <span class="login-element5">
                        <img src="assets/images/common/login2.png" alt="...">
                    </span> -->
                    <span class="login-element6">
                        <img src="assets/images/common/login5.png" alt="...">
                    </span>
                    <span class="login-element7">
                        <img src="assets/images/common/login6.png" alt="...">
                    </span>
                    <span class="login-element8">
                        <img src="assets/images/common/login7.png" alt="...">
                    </span>
                    <span class="login-element9">
                        <img src="assets/images/common/login6.png" alt="...">
                    </span>

                    <div class="content-wrap">
                        <div class="logo-wrap">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="..."></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-6 px-0">
                <!-- < sign in components -->
                <div class="login-box">
                    <div class="close--btn">
                        <div class="wrap">
                            <a href="index.html"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                    <h4 class="title">Create Your Account</h4>
                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">User name</label>
                        <input class="form--control" placeholder="User name">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Email</label>
                        <input class="form--control" placeholder="Name">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Passwords</label>
                        <input class="form--control" placeholder="Name">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Confirm Passwords</label>
                        <input class="form--control" placeholder="Name">
                    </div>
                    <div class="login-meta mb-4" data-wow-delay="0.5s">
                        <div class="form--check">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                        <div class="condition-text">
                            <p>I agree with Company, <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>
                            </p>
                        </div>
                    </div>
                    <button class="btn btn--base w-100">Sign Up</button>
                    <div class="social-option">
                        <div class="text">
                            <h6>or</h6>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                        <p> Already have an account ? <a href="#">Log In</a></p>
                    </div>
                </div>


                <!-- sign in components /> -->
            </div>
        </div>
    </div>
</section>