<section class="packeg-build pb-120">
    <div class="container">
        <div class="build-card-wrap">
            <form>
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <h6 class="title">Server Configuration</h6>
                        <label class="mb-3">Primary Domain</label>
                        <input type="text" class="form--control" placeholder="https://w-stacks.vercel.app/">
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-content-wrap">
                            <div class="dot-base"></div>
                            <h6 class="title">cPanel License</h6>
                        </div>
                    </div>
                </div>

                <div class="item-wrap">
                    <div class="side-bar"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio1" hidden>
                                            <label class="configuration-card" for="radio1">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio2" hidden>
                                            <label class="configuration-card" for="radio2">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio3" hidden>
                                            <label class="configuration-card" for="radio3">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio4" hidden>
                                            <label class="configuration-card" for="radio4">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio5" hidden>
                                            <label class="configuration-card" for="radio5">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--  -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-content-wrap">
                            <div class="dot-base"></div>
                            <h6 class="title">cPanel License</h6>
                        </div>
                    </div>
                </div>

                <div class="item-wrap">
                    <div class="side-bar"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio6" hidden>
                                            <label class="configuration-card" for="radio6">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio7" hidden>
                                            <label class="configuration-card" for="radio7">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio8" hidden>
                                            <label class="configuration-card" for="radio8">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio9" hidden>
                                            <label class="configuration-card" for="radio9">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio10" hidden>
                                            <label class="configuration-card" for="radio10">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="row ">
                    <div class="col-lg-12">
                        <div class="section-content-wrap">
                            <div class="dot-base"></div>
                            <h6 class="title">cPanel License</h6>
                        </div>
                    </div>
                </div>

                <div class="item-wrap">
                    <div class="side-bar"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio11" hidden>
                                            <label class="configuration-card" for="radio11">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio12" hidden>
                                            <label class="configuration-card" for="radio12">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio13" hidden>
                                            <label class="configuration-card" for="radio13">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio14" hidden>
                                            <label class="configuration-card" for="radio14">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio15" hidden>
                                            <label class="configuration-card" for="radio15">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-content-wrap">
                            <div class="dot-base"></div>
                            <h6 class="title">cPanel License</h6>
                        </div>
                    </div>
                </div>

                <div class="item-wrap bb-0">
                    <div class="side-bar"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio16" hidden>
                                            <label class="configuration-card" for="radio16">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio17" hidden>
                                            <label class="configuration-card" for="radio17">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio18" hidden>
                                            <label class="configuration-card" for="radio18">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio19" hidden>
                                            <label class="configuration-card" for="radio19">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="recharge-option mb-3">
                                        <div class="form-check service-wrap">
                                            <input class="form-check-input" name="radio1" type="radio" value="1000"
                                                id="radio20" hidden>
                                            <label class="configuration-card" for="radio20">
                                                <div class="content-wrap">
                                                    <h6 class="title">$0.00 USD</h6>
                                                    <p class="sub-title">cPanel Solo </p>
                                                    <p class="sub-title">(1 cPanel Account)</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-wrap d-flex justify-content-center">
                    <button class="btn btn--base next-btn">Next</button>
                </div>

            </form>

        </div>
    </div>

</section>