<section class="feature-section py-120">

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="element1 loading">
        <img src="assets/images/common/elements.png" alt="...">
    </div>

    <div class="element2 loading">
        <img src="assets/images/common/elements.png" alt="...">
    </div>

    <div class="element3 loading">
        <img src="assets/images/common/elements.png" alt="...">
    </div>


    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-content-4">
                    <h1 class="title wow animate__animated animate__fadeInUp " data-wow-delay="0.2s">Check Some Of Our
                        Featured Product</h1>
                </div>
            </div>
        </div>



        <div class="row gy-5 justify-content-center mt-2">
            <div class="col-lg-9">
                <div class="base-card">

                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script-name">Laravel Script</h6>
                        </div>
                        <h2 class="title">ChangeHub - MultiCurrency Exchange Platform</h2>
                        <p class="short-discription">ChangeHub is a state-of-the-art MultiCurrency Exchange Platform, crafted with the latest Laravel....... more</p>
                        <div class="grp-btn">
                            <a href="#" class="btn btn--base">Buy Now $48</a>
                            <a href="#" class="btn btn--base outline ms-3">Live Preview</a>
                        </div>
                    </div>

                    <div class="thumb-wrap">
                        <div class="thumb">
                            <img src="assets/images/product/img7.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 mt-100">
                <div class="base-card flex-row-reverse">

                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script-name">Laravel Script</h6>
                        </div>
                        <h2 class="title">ChangeHub - MultiCurrency Exchange Platform</h2>
                        <p class="short-discription">ChangeHub is a state-of-the-art MultiCurrency Exchange Platform, crafted with the latest Laravel....... more</p>
                        <div class="grp-btn">
                            <a href="#" class="btn btn--base">Buy Now $48</a>
                            <a href="#" class="btn btn--base outline ms-3">Live Preview</a>
                        </div>
                    </div>

                    <div class="thumb-wrap">
                        <div class="thumb">
                            <img src="assets/images/product/img8.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-100">
                <div class="base-card">

                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script-name">Laravel Script</h6>
                        </div>
                        <h2 class="title">ChangeHub - MultiCurrency Exchange Platform</h2>
                        <p class="short-discription">ChangeHub is a state-of-the-art MultiCurrency Exchange Platform, crafted with the latest Laravel....... more</p>
                        <div class="grp-btn">
                            <a href="#" class="btn btn--base">Buy Now $48</a>
                            <a href="#" class="btn btn--base outline ms-3">Live Preview</a>
                        </div>
                    </div>

                    <div class="thumb-wrap">
                        <div class="thumb">
                            <img src="assets/images/product/img9.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-100">
                <div class="base-card flex-row-reverse">

                    <div class="content-wrap">
                        <div class="script-wrap">
                            <i class="fa-brands fa-laravel"></i>
                            <h6 class="script-name">Laravel Script</h6>
                        </div>
                        <h2 class="title">ChangeHub - MultiCurrency Exchange Platform</h2>
                        <p class="short-discription">ChangeHub is a state-of-the-art MultiCurrency Exchange Platform, crafted with the latest Laravel....... more</p>
                        <div class="grp-btn">
                            <a href="#" class="btn btn--base">Buy Now $48</a>
                            <a href="#" class="btn btn--base outline ms-3">Live Preview</a>
                        </div>
                    </div>

                    <div class="thumb-wrap">
                        <div class="thumb">
                            <img src="assets/images/product/img10.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>