<!-- < galley Section -->
<section class="price-section section-bg py-120">
    <span class="circle-1"></span>
    <span class="circle-2"></span>
    <div class="container">
        <div class="row justify-content-center gy-4">
            <div class="col-lg-6">
                <div class="section-content">
                    <div class="title-wrap">
                        <div class="left-bar">
                            <span class="bar-1"></span>
                            <span class="bar-2"></span>
                        </div>
                        <h2 class="title mb-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Our Subscription Plan</h2>
                        <div class="right-bar">
                            <span class="bar-1"></span>
                            <span class="bar-2"></span>
                        </div>
                    </div>
                    <p class="subtitle wow animate__animated animate__fadeInUp text-center"  data-wow-delay="0.3s">Lorem Ipsum is simply dummy text of the printi typesettingi Lorem Ipsum has been the industry's standard</p>
                </div>
            </div>
        </div>
        
        <div class="row gy-4 pt-80 justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="price-card">
                <div class="price-card-icon">
                    <span>
                        <i class="fa-solid fa-tag fa-gradient"></i>
                    </span>
                </div>
                <div class="price-card-top">
                    <div class="price-tag">
                        <p>Free</p>
                    </div>
                    <div class="price-content">
                        <h1 class="title">$00<span>.00</span></h1>
                        <p class="subtitle">Per member, per year</p>
                    </div>
                </div>
                <div class="price-item">
                    <ul>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>3 - 5 Day turnaround</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>2000 Prompt </p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>Advanced Targeting</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>All in Started and Pro</p>
                        </li>
                    </ul>
                </div>
                <a class="btn btn--base">Subscribe Now</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="price-card">
                <div class="price-card-icon">
                    <span>
                        <i class="fa-solid fa-diamond fa-gradient"></i>
                    </span>
                </div>
                <div class="price-card-top">
                    <div class="price-tag">
                        <p>Free</p>
                    </div>
                    <div class="price-content">
                        <h1 class="title">$00<span>.00</span></h1>
                        <p class="subtitle">Per member, per year</p>
                    </div>
                </div>
                <div class="price-item">
                    <ul>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>3 - 5 Day turnaround</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>2000 Prompt </p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>Advanced Targeting</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>All in Started and Pro</p>
                        </li>
                    </ul>
                </div>
                <a class="btn btn--base">Subscribe Now</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="price-card">
                <div class="price-card-icon">
                    <span>
                        <i class="fa-regular fa-gem fa-gradient"></i>
                    </span>
                </div>
                <div class="price-card-top">
                    <div class="price-tag">
                        <p>Free</p>
                    </div>
                    <div class="price-content">
                        <h1 class="title">$00<span>.00</span></h1>
                        <p class="subtitle">Per member, per year</p>
                    </div>
                </div>
                <div class="price-item">
                    <ul>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>3 - 5 Day turnaround</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>2000 Prompt </p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>Advanced Targeting</p>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p>All in Started and Pro</p>
                        </li>
                    </ul>
                </div>
                <a class="btn btn--base">Subscribe Now</a>
            </div>
          </div>
        </div>
       
    </div>
</section>
<!--  galley Section />-->