
<section class="product-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="info-wrap">
                    <div class="product-tag">
                        <p class="tag-name">Web Development</p>
                    </div>
                    <h1 class="title">The Ultimate Guide to the best WordPress
                        LMS Plugin</h1>
                    <ul class="rating-wrap">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half-stroke"></i></li>
                        <li>(190,239 ratings) 889,059 students</li>

                    </ul>
                    <ul class="key-wrap">
                        <li>
                            <i class="fa-solid fa-clock"></i>
                            <p>2Weeks</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-graduation-cap"></i>
                            <p>156 Students</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-signal"></i>
                            <p>All levels</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-file-video"></i>
                            <p>20 Lessons</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-clipboard-question"></i>
                            <p>3 Quizzes</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>