<!-- < request components -->

<div class="signin-box">
    <button class="close--btn"><i class="fa-solid fa-xmark"></i></button>
    <h6>Prompt Request</h6>
    <form>
        <div class="mb-4 form-group">
            <label class="mb-3 form--label">Prompt Engine</label>
            <input class="form--control" placeholder="Prompt Engine">
            </div>
        <div class="mb-4 form-group">
            <label class="mb-3 form--label">Type Your Message</label>
            <textarea class="form--control req--box" placeholder="Type Your Message"></textarea>
        </div>
        <div class="mb-4 form-group">
            <label class="mb-3 form--label">Upload File </label>
            <input class="form--control" type="file" placeholder="Upload File">
        </div>
        <button class="btn btn--base w-100">Send</button>
    </form>
</div>


<!-- sign in components /> -->