<section class="technology pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-content-4">
                    <h1 class="title wow animate__animated animate__fadeInUp " data-wow-delay="0.2s">Our Coverage</h1>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-4">
                <div class="technology-card br-tl br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t1.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">PHP</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t2.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">MySQL</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card bb-0 br-tr">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t3.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Laravel</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t4.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">HTML</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t5.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">CSS</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">JavaScript</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t7.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Bootstrap</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t8.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Android</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t9.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">iOS</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 br-bl">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t10.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Photoshop</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t11.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">SEO</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-br">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/t12.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">cPanel</h6>
                        <p class="description">Most used scripting language</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>