<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title -->
        <title> LearnHub. </title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/common/favicon.ico">
        <!-- Apple touch icon -->
        <link rel="apple-touch-icon" href="assets/images/common/apple-touch-icon.png">
    
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <!-- Slick -->
        <link rel="stylesheet" href="assets/css/slick.css">
        <!-- Animate css -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Odometer -->
        <link rel="stylesheet" href="assets/css/odometer.css">
        <!-- Odometer -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
         <!-- plyr -->
         <link rel="stylesheet" href="assets/css/plyr.css">
        <!-- Main css -->
        <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>                 

    <!--==================== Preloader Start ====================-->      
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    
    <div class="sidebar-overlay"></div>
    
    <!--==================== Preloader End ====================-->