<!-- < testimonial-section -->
<section class="testimonial-section pt-120">
    <div class="testimonial-wrap">
        <span class="bg-elemet1">
            <img src="assets/images/common/faq-element1.png" alt="...">
        </span>
        <span class="bg-elemet2">
            <img src="assets/images/common/faq-element2.png" alt="...">
        </span>
        <span class="bg-elemet3">
            <img src="assets/images/common/faq-element3.png" alt="...">
        </span>

        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-9">
                    <div class="row testimonial-slider">
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">What a Great explanation with very detail information for me as the newbie Cloud
                                    Learner. This Course is my second source after AWS APN Learning Portal.</h6>
                            </div>
                            <div class="user-thumb">
                                <img src="assets/images/user/user1.png" alt="...">
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">What a Great explanation with very detail information for me as the newbie Cloud
                                    Learner. This Course is my second source after AWS APN Learning Portal.</h6>
                            </div>
                            <div class="user-thumb">
                                <img src="assets/images/user/user1.png" alt="...">
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">What a Great explanation with very detail information for me as the newbie Cloud
                                    Learner. This Course is my second source after AWS APN Learning Portal.</h6>
                            </div>
                            <div class="user-thumb">
                                <img src="assets/images/user/user1.png" alt="...">
                            </div>
                        </div>
                    </div>
                   
                </div>
             
            </div>
        </div>
    </div>
</section>
<!--  testimonial-section /> -->