<section class="technology py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-content-4">
                    <h1 class="title wow animate__animated animate__fadeInUp " data-wow-delay="0.2s">Why VPS?</h1>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-4">
                <div class="technology-card br-tl br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v1.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">cPanel Included</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v2.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">CloudLinux</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card bb-0 br-tr">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v3.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">LiteSpeed</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v4.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Backup Automation</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0 bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v5.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Auto SSL</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card bb-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v6.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Performance Focused</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4">
                <div class="technology-card br-0 br-bl">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v7.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">No Extra Fees</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-0">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v8.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">No Setup Cost</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="technology-card br-br">
                    <div class="icon-wrap">
                        <img src="assets/images/icon/v9.png" alt="...">
                    </div>
                    <div class="content-wrap">
                        <h6 class="name">Free Migrations</h6>
                        <p class="description">We leverage the power of CloudLinux to optimize speed, stability, security, and resource utilization in our hosting environment.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>