<!-- < faq-section -->
<section class="weakly-section py-80 bg--img" style="background: url(assets/images/common/weekly-bg.png);">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-content-2">
                <div class="title-wrap">
                    <h6 class="title">Weekly Deals</h6>
                    <button class="btn btn--base">View All</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row gy-4 justify-content-center">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img11.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img6.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img8.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img7.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img9.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="game-card">
              <div class="thumb">
                  <img src="assets/images/product/img10.png" alt="...">
              </div>
              <div class="content">
                  <a href="details.html"><h6 class="title">From Suace ORDER TR UBOX One / Ubox Series X|S CD Ke</h6></a>
                  <ul>
                      <li><i class="fa-brands fa-steam"></i></li>
                      <li><i class="fa-brands fa-xbox"></i></li>
                  </ul>
                  <a href="details.html" class="price-wrap"><p class="price">$48.31</p></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!--  faq-section /> -->