<section class="how-work" >
    <div class="container-fluid">
        <div class="bg--img how-work-item-wrap" style="background-image: url(assets/images/common/why-choose.png);">

       <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="section-content-4">
                <h6 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Why Choose Us</h6>
                <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">That is quickly changing. Especially with other options out there like Couchsurfing and rentout where you can stay</p>
            </div>
        </div>
       </div>
        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="why-choose-box wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                    <div class="icon-wrap">
                        <i class="las la-city"></i>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Guest Refund Policy</h6>
                        <p class="subtitle">Wmet minim mollit non deserunt ullamco 
                            est sit aliqdolor do amet sint.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="why-choose-box wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-wrap">
                        <i class="las la-city"></i>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Reviews From Guests </h6>
                        <p class="subtitle">Wmet minim mollit non deserunt ullamco 
                            est sit aliqdolor do amet sint.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="why-choose-box wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                    <div class="icon-wrap">
                        <i class="las la-city"></i>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Diverse Location</h6>
                        <p class="subtitle">Wmet minim mollit non deserunt ullamco 
                            est sit aliqdolor do amet sint.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="why-choose-box wow animate__animated animate__fadeInUp" data-wow-delay="0.7s">
                    <div class="icon-wrap">
                        <i class="las la-city"></i>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Household Amenities</h6>
                        <p class="subtitle">Wmet minim mollit non deserunt ullamco 
                            est sit aliqdolor do amet sint.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>