.feature-items{
  .key-feature-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    border-radius: 12px;
    background: hsl(var(--white));
    .feature-thumb{
      width: 100px;
      height: 100px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
      &:hover{
        -webkit-transform: translateY(-5px);
      transform: translateY(-5px) scale(1.05);
      transition: 0.3s ease-in-out;
      }
  }
}