
/*============= Footer Start Here =======================*/
.footer-area {
    position: relative;

    .footer-top{
        padding-top: 120px;
        padding-bottom: 40px;
    }
}

.footer-item {
    .latest-blog__title a {
        color: hsl(var(--black));
    }
    .latest-blog {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid hsl(var(--black)/0.1);
    }
    span.latest-blog__date {
        color: hsl(var(--black)/0.6);
    }
    &__desc {
        color: hsl(var(--black)/0.8);
        margin-bottom: 36px;
        width: 100%;
    }
    &__logo {
        margin-bottom: 20px;
        a {
            img {
                width: 100%;
                height: 100%;
                max-width: 160px;
                max-height: 64px;
                filter: brightness(1);
            }
        } 
    }
    &__title {
        color: hsl(var(--black));
        padding-bottom: 10px;
        position: relative;
    }
    .social-list {
        margin-top: 10px;
        display: flex;
        gap: 12px;
        @include md-screen {
            margin-top: 20px;
        }
        @include msm-screen {
            margin-top: 15px;
        }
    }
    .social-list__item .social-list__link {
        font-size: 20px;
        border: 0px;
        color: hsl(var(--base));
        &:hover{
            color: hsl(var(--white)) !important;
        }
    }
}

// social icon
.icon-wrapper{
    .icon{
        background: hsl(var(--base)/0.05);
        i{
            color: hsl(var(--black));
        }
        &:hover{
            background: hsl(var(--base));
            i{
                color: hsl(var(--white));
            }
        }
    }
    div{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: hsl(var(--base)/0.06);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// Footer List Item
.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    // margin: -5px 0;
    &__item {
        // display: block;
        padding: 8px 0;
    }
    &__link {
        position: relative;
        color: hsl(var(--black));
        i{
            font-size: 14px;
            color: hsl(var(--base));
        }
        &:hover {
            color: hsl(var(--base));
            margin-left: 4px;
        }
    }
}

// Footer Contact
.footer-contact-menu {
    margin: -6px 0;
    &__item {
        display: flex;
        padding: 1px 0;
        p { 
            color: hsl(var(--black));
        }
        &-icon {
            width: 15px;
            color: hsl(var(--white));
            font-size: 15px;
        }
        &-content {
            width: calc(100% - 15px);
            padding-left: 15px;
        }
    }
}
// ============= Footer End Here =======================


.search-box.footer {
    button {
        position: absolute;
        right: 9px;
        top: 9px;
        border: 1px solid transparent;
    }
    input.form--control {
        padding-right: 135px;
        border-radius: 10px;
        border: 0;
        padding: 16px;
        color: hsl(var(--white) );
        &::placeholder, :focus {
            color: hsl(var(--white));
        }
    }
}

// subscribe box
.footer-subscribe-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    form{
        display: flex ;
        justify-content: center ;
        flex-wrap: wrap;
    }
   
    .footer-input{
        width: 376px;
        border: 1px solid hsl(var(--base));
        background: hsl(var(--white));
        color: hsl(var(--white)) !important;
        &::placeholder {
            color: hsl(var(--white)/0.7) !important;
            font-size: 14px;
        }
    } 
    .search-btn {
        padding: 7px 20px;
        border-radius: 4px;
    }

}


// ============= Bottom Footer End Here =======================
.bottom-footer {
    border-top: 1px solid hsl(var(--black)/0.05);

    .bottom-footer-text {
        color: hsl(var(--black));
        @include md-screen {
            text-align: center;
        }
        @include xsm-screen {
            font-size: 14px;
        }
    }
}


.bottom-footer-menu {
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        @include md-screen {
            justify-content: center;
        }
        li {
            padding-left: 14px;
            margin-left: 14px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0px;
                background: hsl(var(--body-color));
                height: 5px;
                width: 5px;
                bottom: 6px;
                border-radius: 50%;
            }
            &:first-child::after {
                content: none;
            }
            a {
                color: hsl(var(--body-color));
                @include xsm-screen {
                    font-size: 14px;
                }
            }
        }
    }
}

// 
.mobile-app-link-items{
    display: flex;
    flex-direction: row;
    gap: 24px;
    .app-link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: 1px solid hsl(var(--base)/.2);
        padding: 4px 20px;
        .icon-sprite{
            font-size: 24px;
        }
    }
    .app-link-text{
        display: flex;
        flex-direction: column;
        .download{
            font-size: 14px;
            color: rgb(138, 138, 138);
        }
    }
}


// =============Bottom Footer End Here =======================


.subscribe-box{
    position: relative;
    form{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    input{
        background-color: hsl(var(--white));
        outline: none;
        padding-right: 128px;
        color: hsl(var(--black)) !important;
        &::placeholder{
            color: hsl(var(--black)) !important;
        }
        &:focus {
            border: 1px solid hsl(var(--base)/.3);
        }
    }

    .sub-btn{
        position: absolute;
        right: 6px;
        padding: 8px 16px;
        i{
            color: hsl(var(--base));
        }
    }
}

// footer contact info
.footer-contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    p{
        color: hsl(var(--black));
        width: 100%;
        a{
            color: hsl(var(--black));
        }
    }
    i{
        font-size: 20px;
        color: hsl(var(--base));
    }
}

// stay tune box
.stay-tune-box{
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px 1px;
    border-radius: 12px;
    margin: -320px 0px 20px;
    padding: 60px 0px;
    position: relative;
    border: 1px solid transparent;
    .tune-box-title{
        color: hsl(var(--white));
    }
    .tune-box-subtitle{
        color: hsl(var(--white));
    }
    &::after{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 12px;
        content: "";
        background-color: hsl(var(--dark)/0.6);
        width: 100%;
        height: 100%;
        z-index: -99;
    }
}

// stay-tune box responsive code

@media(max-width: 376px){
    .footer-subscribe-box{
        .footer-input{
            width: 100%;
        } 
       
    }
}
@media(max-width: 426px){
    .footer-subscribe-box{
        .footer-input{
            border: 1px solid hsl(var(--base));
            &::placeholder {
                color: hsl(var(--white)/0.7) !important;
                font-size: 14px;
            }
        } 
        .search-btn {
            margin: 16px 0 0 0px;
        }
    }
    .footer-item__title{
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}