
/*================ Top Header Start Here ================*/
.header-main-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s linear;
    padding-top: 0;
}


.header-top{
    padding:10px 0px;
    position: relative;
    z-index: 2;

    @include md-screen {
        display: none;
    }
    
    .social-list.style-two .social-list__link {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}
.top-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include md-screen {
        justify-content: right;
    }
    
    @include xsm-screen {
        justify-content: center;
    }
}


.contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -20px;
    @include md-screen {
        justify-content: center;
    }
    @include sm-screen {
        display: none;
    }
    &__item {
        position: relative;
        color: hsl(var(--black));
        margin-left: 25px;
        &:last-child::before {
            display: none;
        }
        &::before {
            position: absolute;
            content: "";
            width: 4px;
            height: 15px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: hsl(var(--black));
        }
        &-icon {
            font-size: 16px;
            text-align: center;
            color: hsl(var(--black));
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__link {
        color: hsl(var(--black));
        font-size: 15px;
        font-weight: 400;
        font-family: var(--body-font);
        &:hover {
            color: hsl(var(--black)/.8);
        }
    }
}
.top-button {
    display: flex;
    flex-wrap: wrap;
    color: hsl(var(--dark));
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include md-screen {
        justify-content: center;
    }
}
// Login Registration
.login-registration-list {
    
    @include md-screen {
        padding-right: 0;
    }
    &__item {
        padding-right: 8px;
        color: hsl(var(--black));
        position: relative;
        &:last-child::before {
            display: none;
        }
        &:nth-child(2)::before {
            display: none;
        }
        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 18px;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
            background-color: hsl(var(--black));
        }
    }
    &__icon {
        color: hsl(var(--black));
        margin-right: 10px;
        font-size: 16px;
        i {
            color: hsl(var(--black));
           
        }
    }
   &__link {
        color: hsl(var(--black));
        font-weight: 400;
        font-family: var(--body-font);
        @include msm-screen {
            font-size: 15px;
        }
        &:hover {
            color: hsl(var(--black));
            .login-registration-list__icon {
                color: hsl(var(--black));
            }
            @include md-screen {
               color: hsl(var(--black));
            }
        }
    }
}

// Language Box
.language-box {
    display: flex;
    align-items: center;
    position: relative;
    i{
        color: hsl(var(--black));
        font-size: 17px;
        margin-right: 5px;
    }
    .select {
        color: hsl(var(--black));
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px 0px;
        font-size: 16px;
        option {
            background-color: hsl(var(--dark));
        }
    }
}

.login-registration-list__item a{
    background: transparent;
    border: 1px solid hsl(var(--base));
    color: hsl(var(--base)) ;
    font-weight: 600;
    padding: 12px 18px;
    border-radius: 8px;

}

li.login-registration-list__item .social-list__item .social-list__link {
    height: 26px;
    width: 26px;
    color: hsl(var(--black)) !important;
    border: 0px !important;
    &:hover {
        color: hsl(var(--base)) !important;
    }
    i {
        font-size: 15px;
        padding-right: 12px !important;
    }
}

@media(max-width:426px){
    li.login-registration-list__item{
        display: none;
    }
 
    .menu-wrapper{
        display: none;
    }
}

  
// ================ Top Header End Here ================
