.hero {
    padding-top: 100px;
    padding-bottom: 40px;

    z-index: 1;
    background-color: hsl(var(--base)/0.05);
    position: relative;

}

.hero-element-1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;


}

.hero-element-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;



}

.hero-element-3 {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: -1;



}


.hero-element-4 {
    position: absolute;
    left: 100px;
    top: 10%;
    z-index: -1;


}


// svg animation
@keyframes line-ani {
    to {
        stroke-dashoffset: 0;
    }
}

.hero-left-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    .hero-title {
        font-size: 73px;
        font-weight: 700;
        line-height: 1.19;
        margin-bottom: 20px !important;
        color: hsl(var(--black));
        position: relative;

        .tesxt2 {
            padding: 18px 18px 18px 23px;
            border-radius: 39.5px;
            // border: 3px solid hsl(var(--base));
            display: inline-block;
            font-size: 27px;
            line-height: 1.19;
            position: relative;
            top: -10px;
            right: 0px;
            background: hsl(var(--white));

            --border-width: 3px;
            &::after {
                position: absolute;
                content: "";
                top: calc(-1 * var(--border-width));
                left: calc(-1 * var(--border-width));
                z-index: -1;
                width: calc(100% + var(--border-width) * 2);
                height: calc(100% + var(--border-width) * 2);
                background: linear-gradient(
                  60deg,
                  hsl(var(--base)),
                //   hsl(var(--base-two)),
                //   hsl(var(--base)),
                  hsl(314, 85%, 66%),
                  hsl(359, 85%, 66%),
                  hsl(44, 85%, 66%),
                  hsl(89, 85%, 66%),
                  hsl(134, 85%, 66%),
                  hsl(179, 85%, 66%)
                );
                background-size: 300% 300%;
                background-position: 0 50%;
                border-radius: 39.5px;
                animation: moveGradient 3.5s alternate infinite;
              }

            i {
                rotate: -40deg;
            }
        }
        @keyframes moveGradient {
            50% {
              background-position: 100% 50%;
            }
          }
        .tesxt3 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: hsl(var(--black));
            -webkit-text-fill-color: hsl(var(--white));
        }
        .tesxt4{
            font-weight: 300;
        }
    }

    // grp btn
    .hero-grp-btn {

        display: flex;
        align-items: center;
        gap: 20px;

        .hero-btn1 {
            background: hsl(var(--base));
            padding: 19px, 17px;
        }

        .hero-btn2 {
            background: hsl(var(--base-two));
            padding: 19px, 17px;
        }

    }

}




// responsive
@media (max-width:1199px) {
    .how-work-banner {
        bottom: -162px;
    }
}

@media (max-width: 992px) {
    .banner-info-box {
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .how-work-banner {
        display: none;
    }
}

@media (max-width: 680px) {
    .hero-element-1 {
        display: none !important;
    }

    .hero-element-4 {
        left: 0;
    }

    .hero-element-4 svg {
        width: 300px;
    }
}

@media (max-width: 425px) {
    .hero-left-content .hero-title {
        font-size: 40px;
    }
}