.how-work {
    border-bottom: 1px solid hsl(var(--black)/0.05);
}




.how-work-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .step {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .line-bar {
        display: block;
        height: 1px;
        width: 100%;
        background: hsl(var(--black)/0.05);
        margin-bottom: 48px;
        position: relative;

        &::after {
            position: absolute;
            left: 50%;
            top: -9px;
            content: "";
            width: 20px;
            height: 20px;
            background: hsl(var(--base));
            border-radius: 50%;
            border: 3px solid hsl(var(--white));
            transform: translateX(-50%);
        }
    }

    .content-wrap {
        .title {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
        }

        .sub-title {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.9;
            text-align: center;
        }
    }
}










// popup video
.popup-video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    .play-video {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9;

        &:hover {
            color: hsl(var(--black));
        }

        i {
            font-size: 18px;
            color: hsl(var(--base));
        }
    }
}

.waves {
    position: absolute;
    width: 50px;
    height: 50px;
    background: hsl(var(--white));
    border: 2px solid hsl(var(--base));
    border-radius: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: -15px;
    left: -20px;
    z-index: 1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}



// responsive code
// @media (max-width: 545px) {
//     .waves {
//         left: -39px;
//         bottom: 0px;
//     }


// }