.rate-section-content{
    position: relative;
    padding: 50px 0px 0px 0px;
    .section-grp-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    .current-rate{
        position: relative;
        box-shadow: rgba(18, 80, 255, 0.32) 0px 22px 18px -24px;
        
    }
}