.testimonial-wrap {
    padding: 120px 0px;
    position: relative;
    border-bottom: 1px solid hsl(var(--black)/0.1);

    .bg-elemet1 {
        position: absolute;
        top: 100px;
        left: 0px;
    }

    .bg-elemet2 {
        position: absolute;
        bottom: 60px;
        left: 300px;
    }


    .bg-elemet3 {
        position: absolute;
        right: 420px;
        bottom: 100px;
    }


}


.testimonial-card {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-family: var(--body-font);
        font-size: 36px;
        font-weight: 400;
        line-height: 68px;
        text-align: center;
        margin-bottom: 56px;
    }

    .auth-wrap {
        display: flex;
        align-items: center;
        gap: 30px;
        // margin-bottom: 40px;

        .dash {
            display: block;
            width: 31px;
            height: 2px;
            background: hsl(var(--black));
        }

        .name {
            font-family: var(--body-font);
            font-size: 24px;
            font-weight: 400;
            line-height: 70px;
            letter-spacing: 0px;
            text-align: center;

        }
    }

    .thumb-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .user-thumb {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0.4;

        &.main{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 3px solid hsl(var(--black));
            overflow: hidden;
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}