
.search-section{
    position: relative;
    .circle-1 {
        position: absolute;
        height: 400px;
        width: 400px;
        top: -10%;
        left: 7%;
        background-color: hsl(var(--base));
        filter: blur(200px);
        -webkit-filter: blur(200px);
        border-radius: 50%;
        transform: translateX(-50%);
    }
    .circle-2 {
        position: absolute;
        height: 450px;
        width: 376px;
        bottom: 0%;
        right: -9%;
        background-color: hsl(var(--secondary));
        filter: blur(200px);
        -webkit-filter: blur(200px);
        border-radius: 50%;
        transform: translateX(-50%);
    }
}
