
/*====================== Section Heading ====================*/
.section-heading {
  margin-bottom: 50px;
  position: relative; 
  @include xxsm-screen {
    margin-bottom: 30px;
  }
  .section-title-top {
    font-size: 26px;
    display: inline-block;
    font-weight: 700;
    position: relative;
    color: hsl(var(--white));
    z-index: 1;
    margin: 5px 0px  20px 20px;
    &::before {
      position: absolute;
      left: -9px;
      top: -6px;
      height: 50px;
      width: 50px;
      background: hsl(var(--base));
      content: "";
      z-index: -1;
      border-radius: 25px 10px 25px 10px;
    }
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: 800;
    color: hsl(var(--base));
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: capitalize;
    position: relative;
    .animate-shape { 
      position: relative;
      width: 70%;
      top: 0;
      position: absolute;
      left: 0;
      @include sm-screen {
        width: 65%;
      }
      img {  
        position: absolute;
        top: 35px;
        left: 0;
        z-index: -1;
        -webkit-animation: section-animation 3s infinite;
        animation: section-animation 3s infinite;
        @include sm-screen {
            top: 19px;
        }
      }
      &.center {
        left: 37%;
        width: 50%;
      }
  }
    
    @include sm-screen {
      font-size: 28px;
    }
    @include xxsm-screen {
      font-size: 25px;
    }
  }
  &__desc {
    max-width: 750px;
    left: 0px;
  }

}
.item-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(var(--black)/0.8);
}

.text-center .section-heading__subtitle-big {
  right: 0;
}
.text-center .section-heading__desc {
   margin: auto;
}
// ====================== Section Heading End====================

//================= Slick Arrow & Dots css Start ================
.slick-initialized.slick-slider {
  margin: 0 ;
  .slick-track {
      display: flex;
  }
  .slick-slide {
      height: auto;
      padding: 0px 12px 0px 0px;
  }

}

// .slick-arrow {
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   transform: translateY(-50%);
//   border: none;
//   width: 100px;
//   height: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   transition: .2s linear; 
//   background-color: hsl(var(--base / 0.1));
//   color: hsl(var(--black));
//   font-size: 16px;
//   @include md-screen {
//     width: 50px;
//     height: 50px;
//     font-size: 16px;
//   }
//   @include msm-screen {
//     width: 45px;
//     height: 45px;
//   }
//    &:hover {
//     border-color: hsl(var(--base));
//   }
// }
.slick-next {
  right: -125px;
  @include md-screen {
    right: -10px;
  }
  @include msm-screen {
    right: 10px;
  }
}
.slick-prev {
  left: -125px;
  @include md-screen {
    left: -10px;
  }
  @include msm-screen {
    left: 10px;
  }
}
.slick-slide img {
  display: inline-block;
}
// -------------- Style two ------------
.slick-arrow {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 56px;
  height: 56px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: .4s;
  border: 1px solid hsl(var(--black)/0.07);
  color: hsl(var(--white));
  background: hsl(var(--base));
  font-size: 20px;
  @include lg-screen {
    // top: -69px;
  }
  @include sm-screen {
    top: auto; 
    bottom: -50px;
    right: 50%;
  }
}
.slick-disabled{
  background: none;
  color: hsl(var(--black));
  &:hover{
  color: hsl(var(--black)) !important;
  background: hsl(var( --black)/0.02);

  }
}
.slick-arrow:hover {
  color: hsl(var(--white));
}


//  Dots
.slick-dots {
    text-align: center;
    padding-top: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    li {
        display: inline-block;
        button {
            border: none;
            background-color: hsl(var(--white)/.5);
            color: hsl(var(--white));
            margin: 0 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            text-indent: -9999px;
            transform: rotate(45deg);
        }
        &.slick-active button {
            background-color: hsl(var(--white));
            width: 8px;
            height: 8px;
        }
    }
}
//================= Slick Arrow & Dots css Start ================


/*================= Text Underline Hover ================*/
.text-hover a {
  background-image: linear-gradient(to right, hsl(var(--base)) 0%, hsl(var(--base)) 100%);
  background-position: 0 calc(100% - 0.02em);
  background-size: 0 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0;
  display: inline;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.text-hover a:hover {
  background-size: 100% 2px;
}

/*========== Magnific Popup button style ========*/
button.mfp-close {
  top: -15px;
  font-size: 21px;
  font-weight: 800;
  height: 35px;
  background: hsl(var(--base));
  line-height: 32px;
  padding: 0;
  opacity: 1;
  border-radius: 5px;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color:  hsl(var(--white));
  right: 0px;
  text-align: right;
  padding-right: 13px;
  width: 42px;
}

.cookies-card {
  position: fixed;
  bottom: 16px;
  width: 40%;
  padding: 20px;
  background: hsl(var(--white));
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  right: 16px;
  z-index: 99;
  border: 2px solid hsl(var(--base));
}


.bg--img{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.bg--img-2{
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: cover !important;
}

.w-20{
  width: 20% !important;
}
//* 
// 32. Newsletter popup css
// */   
/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


// gradient icon
.fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(var(--base))), to(hsl(var(--secondary))));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  display: initial;
}

.card-bg{
  background: var(--card-bg-2);
}

.header-bg{
  background: var(--header-bg);
}


.border-top{
  border-top: 1px solid hsl(var(--black)/0.1) !important;
}
.border-left{
  border-left: 1px solid hsl(var(--black)/0.1) !important;
}
.border-right{
  border-right: 1px solid hsl(var(--black)/0.1) !important;
}
.border-bottom{
  border-bottom: 1px solid hsl(var(--black)/0.1) !important;
}

.global-card{
  padding: 30px;
  border: 1px solid hsl(var(--black)/0.3);
  border-radius: 4px;
  background: hsl(var(--white));
}

.bg--transparent{
  background: transparent !important;
}







/* drag and drop box */

.photo_upload .drag_area{
  height: 400px;
  border-radius: 8px;
  border: 1px dashed hsl(var(--black)/0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  --webkit-user-select:none;
}

.photo_upload .drag_area .visible{
  font-size: 18px;
}

.photo_upload .select{
  cursor: pointer;
  transition: 0.4s;
}
.photo_upload .select:hover{
 opacity: 0.6;
}

.photo_upload .container_area{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 30px;
}

.photo_upload .container_area .image{
  height: 75px;
  margin-left: 5px;
  width: 75px;
  position: relative;
  margin-bottom: 8px;
}
.photo_upload .container_area .image img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.photo_upload .container_area .image .delete{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: hsl(var( --black)/0.6);
  top: 0px;
  right: 0px;
  font-size: 12px;
  cursor: pointer;
  color:hsl(var(--base));
  z-index: 9;
}

.photo_upload input,
.photo_upload .drag_area .on-drop,
.photo_upload .drag_area.dragover .visible{
  display: none;
}



.drag_drop_content{
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag_drop_content .icon_wrap{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: hsl(var( --black)/0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag_drop_content .icon_wrap i{
 font-size: 30px;
}




// custom column

/* xxxl breakpoints */

@media (max-width:1920px) and (min-width:1799px){
  .xxxl{
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}
@media (max-width:1800px) and (min-width: 1562px){
  .xxxl{
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width:1563px) and (min-width:1440px){
  .xxxl{
    width: 25% !important;
  }
}

.feature-section{
  border-top: 1px solid hsl(var( --black)/0.1);
  border-bottom: 1px solid hsl(var( --black)/0.1);

}

.purple{
  background:	hsl(var(--purplee)/0.03);
}
.pink{
  background:	hsl(var(--pinkk)/0.04);
}
.purple-1{
  background:	hsl(var(--purplee)/0.1);
}
.yellow{
  background:	hsl(var(--yelloww)/0.07);
}
.yellow-1{
  background:	hsl(var(--yelloww1)/0.03);
}
.green{
  background: 	hsl(var(--greenn)/0.05);
}

