/*=========================== Accodion style start =============================*/
.accordion-area {
    position: relative;
    z-index: 1;
    // &::after {
    //     position: absolute;
    //     content: "";
    //     height: 100%;
    //     width: 100%;
    //     z-index: -1;
    //     background: hsl(var(--dark)/.98);
    //     top: 0;
    //     left: 0;
    // }
}
.custom--accordion {
    .accordion-item {
        background-color: hsl(var(--white)/0.02) !important;
        overflow: hidden;
        border: 1px solid hsl(var(--black)/0.2) !important;
        border-radius: 8px;
     
        &:not(:last-child) {
            margin-bottom:20px;
        }
    }
    .accordion-body {
        // padding: 0px 20px 20px 100px !important;
        background-color: hsl(var(--white)/0.02);
        color: hsl(var(--black)/0.7); 
        
        .text {
            max-width: 60%;
            @include msm-screen {
                max-width: 100%;
            }
        }
    }
    &:first-of-type .accordion-button.collapsed {
        border-radius:0px;  
        font-weight: 500; 
    }
    &:last-of-type .accordion-button.collapsed {
        border-radius: 0px; 
        color: hsl(var(--body-color));  
        background: hsl(var(--white)/0.02);
    }
    .accordion-button{
        background-color: hsl(var(--white));
        color:  hsl(var(--black)) !important;
        font-size: 20px;
        padding: 16px 28px;
        border-radius: 8px;
       
        .number{
            margin: 0px !important;
            margin-right: 12px !important;
            font-size: 36px;
            font-weight: 400;
            line-height: 1.29;
            -webkit-text-fill-color: hsl(var(--white)); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: hsl(var(--black));
        }
        @include msm-screen {
            font-size: 18px;
            padding: 13px;
            padding-right: 30px;
        }
        &::after {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            color: hsl(var(--white)); 
            background-color:hsl(var(--white)/0.02) !important;
            box-shadow: none;
            &::after {
                transform: rotate(0deg);
                background-image: none;
                color: hsl(var(--black));
            }
        }
        &[aria-expanded="true"], &[aria-expanded="false"] {
            &::after {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                content: "\f077";
                display: inline-block;
                position: relative;
                margin-left: auto;
                width: 0 !important;
                right: 16px;
                color: hsl(var(--black)) !important;
                @include msm-screen {
                    right: -13px;
                    font-size: 14px;
                }
            }
        }
        &[aria-expanded="false"] {
            &::after {
                content: "\f078";
                color: hsl(var(--body-color));
            }
        }
    }
    
}

.custom--accordion2 {
    .accordion-item {
        background-color: hsl(var(--white)/0.02) !important;
        overflow: hidden;
        border: 1px solid hsl(var(--black)/0.05) !important;
        border-radius: 8px;
     
        &:not(:last-child) {
            margin-bottom:20px;
        }
    }
    .accordion-body {

        background-color: hsl(var(--white)/0.02);
        color: hsl(var(--black)/0.7); 
        padding: 0px 16px 0px 16px;
        
        .text {
            max-width: 60%;
            @include msm-screen {
                max-width: 100%;
            }
        }
    }
    &:first-of-type .accordion-button.collapsed {
        border-radius:0px;  
        font-weight: 500; 
    }
    &:last-of-type .accordion-button.collapsed {
        border-radius: 0px; 
        color: hsl(var(--body-color));  
        background: hsl(var(--white)/0.02);
    }
    .accordion-button{
        background-color: hsl(var(--black)/0.01) !important;
        color:  hsl(var(--black)) !important;
        font-size: 20px;
        padding: 16px 28px;
        border-radius: 8px;
        border-bottom: 1px solid hsl(var(--black)/0.05);
       
        .number{
            margin: 0px !important;
            margin-right: 12px !important;
            font-size: 36px;
            font-weight: 400;
            line-height: 1.29;
            -webkit-text-fill-color: hsl(var(--white)); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: hsl(var(--black));
        }
        @include msm-screen {
            font-size: 18px;
            padding: 13px;
            padding-right: 30px;
        }
        &::after {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            color: hsl(var(--white)); 
            background-color:hsl(var(--white)/0.02) !important;
            box-shadow: none;
            &::after {
                transform: rotate(0deg);
                background-image: none;
                color: hsl(var(--black));
            }
        }
        &[aria-expanded="true"], &[aria-expanded="false"] {
            &::after {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                content: "\f077";
                display: inline-block;
                position: relative;
                margin-left: auto;
                width: 0 !important;
                right: 16px;
                color: hsl(var(--black)) !important;
                @include msm-screen {
                    right: -13px;
                    font-size: 14px;
                }
            }
        }
        &[aria-expanded="false"] {
            &::after {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;

                content: "\f078";
                color: hsl(var(--body-color));
            }
        }
    }
    
}


@media (max-width:1023px){
    .custom--accordion2:last-of-type .accordion-button.collapsed {
        flex-direction: column;
        align-items: flex-start;
    }
    .custom--accordion2 .accordion-button[aria-expanded=false]::after {
        content: none;
       
    }
    .custom--accordion2 .accordion-button[aria-expanded=true]::after, .custom--accordion2 .accordion-button[aria-expanded=false]::after {
        content: none;
    }
    .custom--accordion2 .accordion-button:not(.collapsed) {
        flex-direction: column;
        align-items: flex-start;
    }
}



@media (max-width:1023px){
    .custom--accordion:last-of-type .accordion-button.collapsed {
        flex-direction: column;
        align-items: flex-start;
    }
    .custom--accordion .accordion-button[aria-expanded=false]::after {
        content: none;
       
    }
    .custom--accordion .accordion-button[aria-expanded=true]::after, .custom--accordion .accordion-button[aria-expanded=false]::after {
        content: none;
    }
    .custom--accordion .accordion-button:not(.collapsed) {
        flex-direction: column;
        align-items: flex-start;
    }
}