/*====================== Pagination Style ====================*/
.pagination {
    flex-wrap: wrap;
    justify-content: center;

    .page-item {
   
        .page-link {
            border: none;
            margin: 0 5px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            font-weight: 500;
            padding: 0;
            color: hsl(var(--black));
            background: hsl(var(--base)/0.1);

            &.active,
            &:hover {
                color: hsl(var(--white));
                background: hsl(var(--base));
            }

            &:focus {
                box-shadow: none;
            }
        }

        &.active {
            color: hsl(var(--white));
            background: hsl(var(--base));
        }
    }
}